.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(95, 100, 100, 0.6),rgba(95, 100, 100, 0.6)), url("../../assets/food3.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    max-width: 800px;
    text-align: center;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600px;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.4;
}

.support_btn {
    background: #6060ed;
    color: rgb(253, 255, 255);
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.support_btn:hover {
    background: #fff;
    color: #6060ed;
}
.support_btn img {
    width: 25px;
    margin-left: 10px;
}

/*------Media Query ----*/

@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}