.title {
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
    font-size: 22px;
}

.title h3 {
    font-size: 19px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
}